pipeline/twittedata_pipeline.json
{
	"name": "twittedata_pipeline",
	"properties": {
		"activities": [
			{
				"name": "TwitterStream",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "TwitterStream?name=VineyKhaneja",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "TwitterStream",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Check_blob_exists_or_not",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "TwitterStream",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "RawDataCSV",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Blob Not Found",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check_blob_exists_or_not",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Check_blob_exists_or_not').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Logging_forNoNewEmail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_insert_pipelinelogs]",
								"storedProcedureParameters": {
									"Activity_Status": {
										"value": "Passed",
										"type": "String"
									},
									"Description": {
										"value": "As there are no new tweets, so Copy Activity from Raw data to SQL Pool is not performed and pipeline would stop in between.",
										"type": "String"
									},
									"Pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_RunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Trigger_Name": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_SQL_Connection",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Raw_Data_to_SQLPool",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlPoolSink",
									"writeBehavior": "Insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "tweet_id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "tweet_id",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "user_name",
												"physicalType": "String"
											},
											"sink": {
												"name": "user_name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Tweet",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Tweet",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ExactDate"
											},
											"sink": {
												"name": "ExactDate",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "RawDataCSV",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Raw_SQLPool",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "SQLtoFinalCSV",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Raw_Data_to_SQLPool",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlPoolSource",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "tweet_id",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "tweet_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "user_name",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "user_name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Tweet",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Tweet",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "ExactDate",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "ExactDate",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Raw_SQLPool",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "FinalCSVforModel",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "DeletingRaw_CSVFile",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Applying_Model",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "RawDataCSV",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "TwitterData",
										"type": "LinkedServiceReference"
									},
									"path": "tweetdata"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Log_RawDatatoSQL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Raw_Data_to_SQLPool",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_insert_pipelinelogs]",
								"storedProcedureParameters": {
									"Activity_Status": {
										"value": "Failed",
										"type": "String"
									},
									"Description": {
										"value": "File unable to upload in Synapse SQL due to Connection issue. May be Your Dedicated pool is paused. Please resume it",
										"type": "String"
									},
									"Pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_RunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Trigger_Name": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_SQL_Connection",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log_SQLtoFinalCSV",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SQLtoFinalCSV",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_insert_pipelinelogs]",
								"storedProcedureParameters": {
									"Activity_Status": {
										"value": "Failed",
										"type": "String"
									},
									"Description": {
										"value": "Data failed to copied from Synapse SQL to CSV File in AzureLake. Please check if blob exits or not !",
										"type": "String"
									},
									"Pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_RunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Trigger_Name": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_SQL_Connection",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log_FinalDataModel",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DeletingRaw_CSVFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_insert_pipelinelogs]",
								"storedProcedureParameters": {
									"Activity_Status": {
										"value": "Passed",
										"type": "String"
									},
									"Description": {
										"value": "Model is applied Successfully and the results are stored in Synapse Pool.",
										"type": "String"
									},
									"Pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_RunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Trigger_Name": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_SQL_Connection",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Applying_Model",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "SQLtoFinalCSV",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "twitter_model",
									"type": "NotebookReference"
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "vksynapsespark",
									"type": "BigDataPoolReference"
								}
							}
						},
						{
							"name": "Log_ApplyingModel",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Applying_Model",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_insert_pipelinelogs]",
								"storedProcedureParameters": {
									"Activity_Status": {
										"value": "Failed",
										"type": "String"
									},
									"Description": {
										"value": "Synapse Spark Pool is having some issues..Please check",
										"type": "String"
									},
									"Pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_RunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Trigger_Name": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_SQL_Connection",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Log_Metadata",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "TwitterStream",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_insert_pipelinelogs]",
					"storedProcedureParameters": {
						"Activity_Status": {
							"value": "Failed",
							"type": "String"
						},
						"Description": {
							"value": "Azure Function\"TwitterStream\" Failed due to Internal Server Error. Please check the function once",
							"type": "String"
						},
						"Pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Trigger_Name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_SQL_Connection",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-06-19T11:54:28Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}